@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* GOV.UK accent colors */
  --govuk-blue: #1d70b8;
  --govuk-dark-blue: #003078;
  --govuk-black: #0b0c0c;
  --govuk-white: #ffffff;
  --govuk-red: #d4351c;
  --govuk-yellow: #ffdd00;
  --govuk-green: #00703c;
  --govuk-light-grey: #f3f2f1;
  --govuk-mid-grey: #b1b4b6;
  --govuk-dark-grey: #505a5f;

  /* Studio layout */
  --sidebar-width: 260px;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  color: var(--govuk-black);
  background-color: #f8f9fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:focus {
  outline: 3px solid var(--govuk-yellow);
  outline-offset: 0;
  background-color: var(--govuk-yellow);
  color: var(--govuk-black);
  text-decoration: none;
}
